<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Todo app Build with Reloj</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://github.com/ougarcia/reloj">GitHub</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">

        <h1>New Todo</h1>
        <form action="/todos" method="POST">
          <div class="form-group">
            <label for="todo-title">Title</label>
            <input type="text" class="form-control" name="todo[title]">
          </div>
          <input
            type="submit"
            class="btn btn-primary btn-lg btn-block"
            value="submit"
            disabled="disabled"
          >
        </form>

      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
  $('input:text').keyup(function () {
    var disable = false;
    if ( $('input:text').val() === "" ) {
      disable = true
    }
    $('input:submit').prop('disabled', disable);
  });
</script>
</html>
